main {
    font-family: 'Consolas';
    text-align: center;
    color:tomato;
    background-image:repeating-radial-gradient()
}

p {
    color: red
}

h1 {
    color: white
}

.about {
    background: rgba(23, 23, 45, 30);
    padding: 8px;
}

img {
    height: 210px;
    width: 265px;
}

.column {
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 25%;
    background-image: radial-gradient();
}

.card {
    box-shadow: 0px 4px 8px 0#b3b;
    padding: 0 16px 0 16px;
}

em {
    color:indigo
}

strong {
    color:slateblue
}

