body {
 background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0,1), rgb(0, 0, 0,1), transparent),url('../images/bg8.jpg')fixed ;
 
   
}



.center-me {
    
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 20px;
    text-align:center
    

}

input {
    margin-bottom: 10px;
}

.d-block {
    height: 500;
    width: 350px;
}
.container{
    width:auto;
}









