body {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0,1), rgb(0, 0, 0,1), transparent),url('../images/bg8.jpg')fixed ;
    
      
   }

.container {
   
width: 20%;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form-signup {
   
    background-color: lightgrey;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

h2 {
    color: black;
    
}

h1 {
    color: hotpink;
}
.padding{
    padding-bottom: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table-cell;
    
  }